/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.gitattributes
.styleci.yml
app/Console/Kernel.php
app/Exceptions/Handler.php
app/Http/Controllers/Auth/ForgotPasswordController.php
app/Http/Controllers/Auth/LoginController.php
app/Http/Controllers/Auth/RegisterController.php
app/Http/Controllers/Auth/ResetPasswordController.php
app/Http/Controllers/Auth/VerificationController.php
app/Http/Controllers/Controller.php
app/Http/Controllers/PegawaiController.php
app/Http/Controllers/ViewController.php
app/Http/Kernel.php
app/Http/Middleware/Authenticate.php
app/Http/Middleware/CheckForMaintenanceMode.php
app/Http/Middleware/EncryptCookies.php
app/Http/Middleware/RedirectIfAuthenticated.php
app/Http/Middleware/TrimStrings.php
app/Http/Middleware/TrustProxies.php
app/Http/Middleware/VerifyCsrfToken.php
app/Providers/AppServiceProvider.php
app/Providers/AuthServiceProvider.php
app/Providers/BroadcastServiceProvider.php
app/Providers/EventServiceProvider.php
app/Providers/RouteServiceProvider.php
app/User.php
artisan
bootstrap/app.php
C5026201037/
composer.json
composer.lock
config/app.php
config/auth.php
config/broadcasting.php
config/cache.php
config/database.php
config/filesystems.php
config/hashing.php
config/logging.php
config/mail.php
config/queue.php
config/services.php
config/session.php
config/view.php
database/factories/UserFactory.php
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/seeds/DatabaseSeeder.php
package.json
phpunit.xml
public/.htaccess
public/css/app.css
public/favicon.ico
public/foto/pasfoto.jpeg
public/goodluck.jpg
public/index.php
public/js/app.js
public/kayu.jpg
public/logo/logo_discord.png
public/logo/logo_facebook.png
public/logo/logo_instagram.png
public/logo/logo_whatsapp.png
public/logo_discord.png
public/robots.txt
public/segitigaawal.png
public/segitigacontoh.png
public/Super.jpg
public/tugas1.html
public/tugas2.html
public/tugas3.html
public/web.config
readme.md
resources/js/app.js
resources/js/bootstrap.js
resources/js/components/ExampleComponent.vue
resources/lang/en/auth.php
resources/lang/en/pagination.php
resources/lang/en/passwords.php
resources/lang/en/validation.php
resources/sass/_variables.scss
resources/sass/app.scss
resources/views/etsweb.blade.php
resources/views/materiphp.blade.php
resources/views/pegawai/edit.blade.php
resources/views/pegawai/index.blade.php
resources/views/pegawai/tambah.blade.php
resources/views/prak1web.blade.php
resources/views/prak2web.blade.php
resources/views/tugas4web.blade.php
resources/views/tugasphp.blade.php
resources/views/welcome.blade.php
routes/api.php
routes/channels.php
routes/console.php
routes/web.php
server.php
tests/CreatesApplication.php
tests/Feature/ExampleTest.php
tests/TestCase.php
tests/Unit/ExampleTest.php
webpack.mix.js
